<html><head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<style type="text/css">

              input.hidden {
    position: absolute;
    left: -9999px;
}

 .container
{
    position: absolute;


    margin-top: 5%; /* half of you height */
    margin-left: 25%; /* half of you width */
}


#profile-image1 {
    cursor: pointer;

     width: 100px;
    height: 100px;
    border:2px solid #03b1ce ;}

    .tital{ font-size:16px; font-weight:500;}
     .bot-border{ border-bottom:1px #f8f8f8 solid;  margin:5px 0  5px 0}
</style>
</head>
<body >


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header" style="margin-left:20px">
      <h4 class="navbar-brand">G&D CORPORATE</h4>
    </div>

    <ul class="nav navbar-nav" style="margin-top:10px;">
      <li style="margin-top:auto;"><a href="/home">Home</a></li>

    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" ><img style="border-radius:90%;height:38px;width:38px;" src="{{pic}}"/></a>
          <ul class="dropdown-menu" style="background-color:grey;">
              <li class="dropdown-item"><a href="#"> <span class="glyphicon glyphicon-user"></span>&emsp;<span style="color:black">Profile</span></a></li>
              <li class="dropdown-item"><a href="/signout"><span class="glyphicon glyphicon-log-out"></span>&emsp;<span style="color:black">Logout</span></a></li>
          </ul>
        </li>
    </ul>
  </div>
</nav>




<div class="container" >
    <div class="row">

       <div class="col-md-7 ">

<div class="panel panel-default">
  <div class="panel-heading">  <h4 >User Profile</h4></div>
   <div class="panel-body">

    <div class="box box-info">

            <div class="box-body">
                <form action="" method="post" id="image_upload" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-sm-6">
                     <div  align="center"> <img alt="User Pic" src="{{pic}}" id="profile-image1" class="img-circle img-responsive" onclick="pic()">
         <input type="hidden" name="image_request" value="abc">
                <input id="profile-image-upload" class="hidden" type="file"  name="image" onchange="profile_upload()">
<div style="color:#999;" >click here to change profile image</div>
                     </div>
                     </div>
                </form>
              <br>
            </div>
            <div class="col-sm-6">
            <h4 style="color:#00b1b1;">{{user.0}} </h4></span>
              <span><p>{{user.1}}</p></span>

                <a href="update/"  class="material-icons">&#xe22b; </a><a href="update/"> &ensp;Update Profile</a> </div>
            <div class="clearfix"></div>
            <hr style="margin:5px 0 5px 0;">


<div class="col-sm-5 col-xs-6 tital " >Name:</div><div class="col-sm-7 col-xs-6 ">{{user.0}}</div>
     <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " >Gender:</div><div class="col-sm-7">{{user.2}}</div>
  <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " >Department:</div><div class="col-sm-7">{{user.3}}</div>
  <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " >Mailid:</div><div class="col-sm-7">{{user.4}}</div>
<div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " >Mobile Number:</div><div class="col-sm-7">{{user.6}}</div>


  <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " >Address:</div><div class="col-sm-7">{{user.5}}</div>

          </div>

        </div>


    </div>
    </div>
</div>
    <script>
       function pic() {
           document.getElementById('profile-image-upload').click();

       }

              function profile_upload() {
document.getElementById('image_upload').submit();
              }
              </script>









   </div>
</div>
</body></html>